AgileMind/AgileMind.Website/Web References/GamesWS/GamesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="FetchColorGame">
        <s:complexType />
      </s:element>
      <s:element name="FetchColorGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchColorGameResult" type="tns:ColorGameResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ColorGameResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:Result">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Questions" type="tns:ArrayOfColorGameQuestion" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfColorGameQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ColorGameQuestion" nillable="true" type="tns:ColorGameQuestion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ColorGameQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LeftWord" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LeftColor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RightWord" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RightColor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMatch" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UserCorrect" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertGameResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gameType" type="tns:GameListEnum" />
            <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TestDuration" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="GameListEnum">
        <s:restriction base="s:string">
          <s:enumeration value="ColorQuiz" />
          <s:enumeration value="UserProfileQuestions" />
          <s:enumeration value="ShortTermMemory" />
          <s:enumeration value="Identify" />
        </s:restriction>
      </s:simpleType>
      <s:element name="InsertGameResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertGameResultResult" type="tns:GameResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GameResults">
        <s:complexContent mixed="false">
          <s:extension base="tns:Result">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Game" type="tns:t_GameResults" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="t_GameResults">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="GameScoreId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="GameId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LoginId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TestDuration" nillable="true" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="LoginReference" type="tns:EntityReferenceOfLogin" />
              <s:element minOccurs="0" maxOccurs="1" name="t_GameReference" type="tns:EntityReferenceOft_Game" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityReferenceOfLogin">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReference" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelatedEnd">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RelatedEnd" abstract="true" />
      <s:complexType name="EntityReferenceOft_Game">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:element name="InsertGameResultWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gameType" type="tns:GameListEnum" />
            <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TestDuration" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertGameResultWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertGameResultWebResult" type="tns:GameResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchUserProfileQuestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVwQuestionAnswer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="vwQuestionAnswer" nillable="true" type="tns:vwQuestionAnswer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="vwQuestionAnswer">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UserProfileQuestionId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Question" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Order" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UserProfileAnswerId" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LoginId" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="AnswerCreated" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="NoAnswer" nillable="true" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="FetchUserProfileQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchUserProfileQuestionsResult" type="tns:UserProfileQuestionsResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserProfileQuestionsResults">
        <s:complexContent mixed="false">
          <s:extension base="tns:Result">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="QuestionList" type="tns:ArrayOfVwQuestionAnswer" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="HasUserFilledOutQuestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasUserFilledOutQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasUserFilledOutQuestionsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveUserProfileQuestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuestionAnswerList" type="tns:ArrayOfVwQuestionAnswer" />
            <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveUserProfileQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveUserProfileQuestionsResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchRandomQuizQuestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="QuestionCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProfileQuizQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Question" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserAnswer" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProfileQuizQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProfileQuizQuestion" nillable="true" type="tns:ProfileQuizQuestion" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchRandomQuizQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchRandomQuizQuestionsResult" type="tns:ProfileQuizQuestionRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProfileQuizQuestionRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:Result">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="QuestionList" type="tns:ArrayOfProfileQuizQuestion" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="FetchShortTermMemoryQuiz">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ShortTermQuiz">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Statement" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QuestionList" type="tns:ArrayOfShortTermQuestion" />
          <s:element minOccurs="1" maxOccurs="1" name="ShortTermQuizId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QuestionDelay" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfShortTermQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShortTermQuestion" nillable="true" type="tns:ShortTermQuestion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShortTermQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Question" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserCorrect" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerList" type="tns:ArrayOfShortTermAnswer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfShortTermAnswer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShortTermAnswer" nillable="true" type="tns:ShortTermAnswer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShortTermAnswer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCorrect" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchShortTermMemoryQuizResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchShortTermMemoryQuizResult" type="tns:ShortTermQuizResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ShortTermQuizResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:Result">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Quiz" type="tns:ShortTermQuiz" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="FetchIdentifyQuestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IdentifyQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Object" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserAnswer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerList" type="tns:ArrayOfIdentifyAnswer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIdentifyAnswer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IdentifyAnswer" nillable="true" type="tns:IdentifyAnswer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IdentifyAnswer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCorrect" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIdentifyQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IdentifyQuestion" nillable="true" type="tns:IdentifyQuestion" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchIdentifyQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchIdentifyQuestionsResult" type="tns:IdentifyResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IdentifyResults">
        <s:complexContent mixed="false">
          <s:extension base="tns:Result">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="QuestionList" type="tns:ArrayOfIdentifyQuestion" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FetchColorGameSoapIn">
    <wsdl:part name="parameters" element="tns:FetchColorGame" />
  </wsdl:message>
  <wsdl:message name="FetchColorGameSoapOut">
    <wsdl:part name="parameters" element="tns:FetchColorGameResponse" />
  </wsdl:message>
  <wsdl:message name="InsertGameResultSoapIn">
    <wsdl:part name="parameters" element="tns:InsertGameResult" />
  </wsdl:message>
  <wsdl:message name="InsertGameResultSoapOut">
    <wsdl:part name="parameters" element="tns:InsertGameResultResponse" />
  </wsdl:message>
  <wsdl:message name="InsertGameResultWebSoapIn">
    <wsdl:part name="parameters" element="tns:InsertGameResultWeb" />
  </wsdl:message>
  <wsdl:message name="InsertGameResultWebSoapOut">
    <wsdl:part name="parameters" element="tns:InsertGameResultWebResponse" />
  </wsdl:message>
  <wsdl:message name="FetchUserProfileQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:FetchUserProfileQuestions" />
  </wsdl:message>
  <wsdl:message name="FetchUserProfileQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:FetchUserProfileQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="HasUserFilledOutQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:HasUserFilledOutQuestions" />
  </wsdl:message>
  <wsdl:message name="HasUserFilledOutQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:HasUserFilledOutQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveUserProfileQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:SaveUserProfileQuestions" />
  </wsdl:message>
  <wsdl:message name="SaveUserProfileQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:SaveUserProfileQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="FetchRandomQuizQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:FetchRandomQuizQuestions" />
  </wsdl:message>
  <wsdl:message name="FetchRandomQuizQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:FetchRandomQuizQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="FetchShortTermMemoryQuizSoapIn">
    <wsdl:part name="parameters" element="tns:FetchShortTermMemoryQuiz" />
  </wsdl:message>
  <wsdl:message name="FetchShortTermMemoryQuizSoapOut">
    <wsdl:part name="parameters" element="tns:FetchShortTermMemoryQuizResponse" />
  </wsdl:message>
  <wsdl:message name="FetchIdentifyQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:FetchIdentifyQuestions" />
  </wsdl:message>
  <wsdl:message name="FetchIdentifyQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:FetchIdentifyQuestionsResponse" />
  </wsdl:message>
  <wsdl:portType name="GamesServiceSoap">
    <wsdl:operation name="FetchColorGame">
      <wsdl:input message="tns:FetchColorGameSoapIn" />
      <wsdl:output message="tns:FetchColorGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertGameResult">
      <wsdl:input message="tns:InsertGameResultSoapIn" />
      <wsdl:output message="tns:InsertGameResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertGameResultWeb">
      <wsdl:input message="tns:InsertGameResultWebSoapIn" />
      <wsdl:output message="tns:InsertGameResultWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchUserProfileQuestions">
      <wsdl:input message="tns:FetchUserProfileQuestionsSoapIn" />
      <wsdl:output message="tns:FetchUserProfileQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasUserFilledOutQuestions">
      <wsdl:input message="tns:HasUserFilledOutQuestionsSoapIn" />
      <wsdl:output message="tns:HasUserFilledOutQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveUserProfileQuestions">
      <wsdl:input message="tns:SaveUserProfileQuestionsSoapIn" />
      <wsdl:output message="tns:SaveUserProfileQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchRandomQuizQuestions">
      <wsdl:input message="tns:FetchRandomQuizQuestionsSoapIn" />
      <wsdl:output message="tns:FetchRandomQuizQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchShortTermMemoryQuiz">
      <wsdl:input message="tns:FetchShortTermMemoryQuizSoapIn" />
      <wsdl:output message="tns:FetchShortTermMemoryQuizSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchIdentifyQuestions">
      <wsdl:input message="tns:FetchIdentifyQuestionsSoapIn" />
      <wsdl:output message="tns:FetchIdentifyQuestionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GamesServiceSoap" type="tns:GamesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchColorGame">
      <soap:operation soapAction="http://tempuri.org/FetchColorGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGameResult">
      <soap:operation soapAction="http://tempuri.org/InsertGameResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGameResultWeb">
      <soap:operation soapAction="http://tempuri.org/InsertGameResultWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUserProfileQuestions">
      <soap:operation soapAction="http://tempuri.org/FetchUserProfileQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasUserFilledOutQuestions">
      <soap:operation soapAction="http://tempuri.org/HasUserFilledOutQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUserProfileQuestions">
      <soap:operation soapAction="http://tempuri.org/SaveUserProfileQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchRandomQuizQuestions">
      <soap:operation soapAction="http://tempuri.org/FetchRandomQuizQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchShortTermMemoryQuiz">
      <soap:operation soapAction="http://tempuri.org/FetchShortTermMemoryQuiz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchIdentifyQuestions">
      <soap:operation soapAction="http://tempuri.org/FetchIdentifyQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GamesServiceSoap12" type="tns:GamesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchColorGame">
      <soap12:operation soapAction="http://tempuri.org/FetchColorGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGameResult">
      <soap12:operation soapAction="http://tempuri.org/InsertGameResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGameResultWeb">
      <soap12:operation soapAction="http://tempuri.org/InsertGameResultWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUserProfileQuestions">
      <soap12:operation soapAction="http://tempuri.org/FetchUserProfileQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasUserFilledOutQuestions">
      <soap12:operation soapAction="http://tempuri.org/HasUserFilledOutQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUserProfileQuestions">
      <soap12:operation soapAction="http://tempuri.org/SaveUserProfileQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchRandomQuizQuestions">
      <soap12:operation soapAction="http://tempuri.org/FetchRandomQuizQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchShortTermMemoryQuiz">
      <soap12:operation soapAction="http://tempuri.org/FetchShortTermMemoryQuiz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchIdentifyQuestions">
      <soap12:operation soapAction="http://tempuri.org/FetchIdentifyQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GamesService">
    <wsdl:port name="GamesServiceSoap" binding="tns:GamesServiceSoap">
      <soap:address location="http://localhost:52761/GamesService.asmx" />
    </wsdl:port>
    <wsdl:port name="GamesServiceSoap12" binding="tns:GamesServiceSoap12">
      <soap12:address location="http://localhost:52761/GamesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>