AgileMind/AgileMind.Website/Web References/GamesScoreWS/GameScoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="FetchUserGameResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchUserGameResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchUserGameResultsResult" type="tns:UserGameResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserGameResults">
        <s:complexContent mixed="false">
          <s:extension base="tns:Result">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MeanGameScores" type="tns:ArrayOfUserMeanGameScore" />
              <s:element minOccurs="1" maxOccurs="1" name="UserScore" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserMeanGameScore">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserMeanGameScore" nillable="true" type="tns:UserMeanGameScore" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserMeanGameScore">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserMean" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GameId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Game" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GameMean" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GameDeviation" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MeanDiff" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UserDeflection" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchIndividualGames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="GameId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchIndividualGamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchIndividualGamesResult" type="tns:IndividualGameResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IndividualGameResults">
        <s:complexContent mixed="false">
          <s:extension base="tns:Result">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="GameResultList" type="tns:ArrayOfT_GameResults" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfT_GameResults">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="t_GameResults" nillable="true" type="tns:t_GameResults" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="t_GameResults">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="GameScoreId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="GameId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LoginId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TestDuration" nillable="true" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="LoginReference" type="tns:EntityReferenceOfLogin" />
              <s:element minOccurs="0" maxOccurs="1" name="t_GameReference" type="tns:EntityReferenceOft_Game" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityReferenceOfLogin">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReference" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelatedEnd">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RelatedEnd" abstract="true" />
      <s:complexType name="EntityReferenceOft_Game">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:element name="FetchGameList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfT_Game">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="t_Game" nillable="true" type="tns:t_Game" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="t_Game">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="GameId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Game" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Mean" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="stdev" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="FetchGameListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchGameListResult" type="tns:GameListResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GameListResults">
        <s:complexContent mixed="false">
          <s:extension base="tns:Result">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="GameList" type="tns:ArrayOfT_Game" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FetchUserGameResultsSoapIn">
    <wsdl:part name="parameters" element="tns:FetchUserGameResults" />
  </wsdl:message>
  <wsdl:message name="FetchUserGameResultsSoapOut">
    <wsdl:part name="parameters" element="tns:FetchUserGameResultsResponse" />
  </wsdl:message>
  <wsdl:message name="FetchIndividualGamesSoapIn">
    <wsdl:part name="parameters" element="tns:FetchIndividualGames" />
  </wsdl:message>
  <wsdl:message name="FetchIndividualGamesSoapOut">
    <wsdl:part name="parameters" element="tns:FetchIndividualGamesResponse" />
  </wsdl:message>
  <wsdl:message name="FetchGameListSoapIn">
    <wsdl:part name="parameters" element="tns:FetchGameList" />
  </wsdl:message>
  <wsdl:message name="FetchGameListSoapOut">
    <wsdl:part name="parameters" element="tns:FetchGameListResponse" />
  </wsdl:message>
  <wsdl:portType name="GameScoreServiceSoap">
    <wsdl:operation name="FetchUserGameResults">
      <wsdl:input message="tns:FetchUserGameResultsSoapIn" />
      <wsdl:output message="tns:FetchUserGameResultsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchIndividualGames">
      <wsdl:input message="tns:FetchIndividualGamesSoapIn" />
      <wsdl:output message="tns:FetchIndividualGamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchGameList">
      <wsdl:input message="tns:FetchGameListSoapIn" />
      <wsdl:output message="tns:FetchGameListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GameScoreServiceSoap" type="tns:GameScoreServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchUserGameResults">
      <soap:operation soapAction="http://tempuri.org/FetchUserGameResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchIndividualGames">
      <soap:operation soapAction="http://tempuri.org/FetchIndividualGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchGameList">
      <soap:operation soapAction="http://tempuri.org/FetchGameList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GameScoreServiceSoap12" type="tns:GameScoreServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchUserGameResults">
      <soap12:operation soapAction="http://tempuri.org/FetchUserGameResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchIndividualGames">
      <soap12:operation soapAction="http://tempuri.org/FetchIndividualGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchGameList">
      <soap12:operation soapAction="http://tempuri.org/FetchGameList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameScoreService">
    <wsdl:port name="GameScoreServiceSoap" binding="tns:GameScoreServiceSoap">
      <soap:address location="http://localhost:52761/GameScoreService.asmx" />
    </wsdl:port>
    <wsdl:port name="GameScoreServiceSoap12" binding="tns:GameScoreServiceSoap12">
      <soap12:address location="http://localhost:52761/GameScoreService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>